<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casablanca</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- section1 -->
    <section class="section section1" style="background-image: url(../images/section1pic.jpg);">
        <div class="section1__content">
            <header class="section1__header">
                <img class="section1__hamburgerImg" src="../images/menu_ic.png" alt="hamburger">
            </header>
            <div class="section1__textBox">
                <h1 class="section1__title">we've got the talant</h1>
                <img class="section1__img--separator" src="../images/whiteLine.png" alt="line">
                <p class="section1__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="section1__mouseBtn">
                <img class="section1__mouseImg" src="../images/Mouse_scroll_ic.png" alt="Mouse button">
            </div>
        </div>
    </section>
    <!-- section2 -->
    <section class="section section2">
        <div class="section2__content">
            <div class="section2__textBox">
                <h3 class="title">Introduction</h3>
                <img class="section2__lineImg" src="../images/blackLine.png" alt="line">
                <p class="section2__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
        </div>
    </section>
    <!-- section3 -->
    <section class="section section3" style="background-image: url(../images/section2pic.jpg);">
        <div class="section3__content">
            <h3 class="title section3__title">Pure Creativity.</h3>
        </div>
    </section>
    <!-- section4 -->
    <section class="section section4">
        <div class="section4__content">
            <div class="section4__textBox">
                <h3 class="title">Some of our work</h3>
                <img class="section4__lineImg" src="../images/blackLine.png" alt="line">
                <nav class="section4__nav">
                    <ul class="section4__ul">
                        <li class="section4__listItems">
                            <a class="section4__link" href="#">All</a>
                        </li>
                        <li class="section4__listItems">
                            <a class="section4__link" href="#">Branding</a>
                        </li>
                        <li class="section4__listItems">
                            <a class="section4__link" href="#">Web Disign</a>
                        </li>
                        <li class="section4__listItems">
                            <a class="section4__link" href="#">Mobile Ui</a>
                        </li>
                        <li class="section4__listItems">
                            <a class="section4__link" href="#">Illustrations</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="section4__photos">
                <img src="../images/4-1.png" alt="card image">
                <img src="../images/4-2.png" alt="card image">
                <img src="../images/4-3.png" alt="card image">
                <img src="../images/4-4.png" alt="card image">
                <img src="../images/4-5.png" alt="card image">
                <img src="../images/4-6.png" alt="card image">
            </div>
            <div class="section__btnBox">
                <button class="section4__btn" id="showMore"><strong>Show me more</strong></button>
            </div>
        </div>
    </section>
    <!-- section5 -->
    <section class="section section5" style="background-image: url(../images/section5pic.jpg)">
        <div class="section5__content">
            <div class="section5__textBox">
                <h3 class="header">We're here to help.</h3>
            </div>
        </div>
    </section>
    <!-- section6 -->
    <section class="section section6">
        <div class="section6__content">
            <div class="section6__textBox">
                <h3 class="title">our clients</h3>
                <img class="section6__lineImg" src="../images/blackLine.png" alt="line">
            </div>
            <div class="section6__clientsLogos">
                <img class="section6__img" src="../images/google.png" alt="google">
                <img src="../images/Samsung.png" alt="Samsung" class="section6__img">
                <img src="../images/Flickr.png" alt="Flickr" class="section6__img">
                <img src="../images/foursquare-logo.png" alt="foursquare" class="section6__img">
                <img src="../images/pinterest_logo_red.png" alt="pinterest" class="section6__img">
            </div>
        </div>
    </section>
    <!-- section7 -->
    <div class="section section7">
        <div class="section7__content">
            <div class="section7__textBox">
                <h3 class="title">about us</h3>
                <img src="../images/blackLine.png" alt="line" class="section7__lineImg">
                <p class="section7__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
            <div class="section7__employees">
                <img src="../images/john.png" alt="employee" class="section7__photo">
                <img src="../images/cardGirl.png" alt="employee" class="section7__photo">
                <img src="../images/cardGirl2.png" alt="employee" class="section7__photo">
                <div class="section7__applyBox">
                    <h3 class="section7__card-title">we are hiring</h3>
                    <img class="section__lineImg" src="../images/blackLine.png" alt="line">
                    <button class="section7__applyBtn"></button>
                </div>
            </div>
        </div>
    </div>
    <section class="section section8">

    </section>
</body>

</html>