<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casablanca</title>
    <link rel="stylesheet" href="../css/sass/main.css">
</head>

<body>
    <!-- Welcome Page -->
    <section class="welcomePage" style="background-image: url(../images/section1pic.jpg);">
        <div class="welcomePage__content">
            <header class="welcomePage__header">
                <img class="welcomePage__hamburgerImg" src="../images/menu_ic.png" alt="hamburger">
            </header>
            <div class="welcomePage__textBox">
                <h1 class="welcomePage__title">we've got the talant</h1>
                <img class="welcomePage__img--separator" src="../images/whiteLine.png" alt="line">
                <p class="welcomePage__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="welcomePage__mouseBtn">
                <img class="welcomePage__mouseImg" src="../images/Mouse_scroll_ic.png" alt="Mouse button">
            </div>
        </div>
    </section>
    <!-- Introduction -->
    <section class="introduction">
        <div class="introduction__content">
            <div class="introduction__textBox">
                <h3 class="introduction__title">Introduction</h3>
                <img class="introduction__lineImg" src="../images/blackLine.png" alt="line">
                <p class="introduction__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
        </div>
    </section>
    <!-- Creativity Parallax -->
    <section class="creativity" style="background-image: url(../images/section2pic.jpg);">
        <div class="creativity__content">
            <h3 class="title creativity__title">Pure Creativity.</h3>
        </div>
    </section>
    <!-- Our Projects -->
    <section class="projects">
        <div class="projects__content">
            <div class="projects__textBox">
                <h3 class="projects__title">Some of our work</h3>
                <img class="projects__lineImg" src="../images/blackLine.png" alt="line">
                <nav class="projects__nav">
                    <ul class="projects__ul">
                        <li class="projects__listItems">
                            <a class="projects__link active" href="#">All</a>
                        </li>
                        <li class="projects__listItems">
                            <a class="projects__link" href="#">Branding</a>
                        </li>
                        <li class="projects__listItems">
                            <a class="projects__link" href="#">Web Disign</a>
                        </li>
                        <li class="projects__listItems">
                            <a class="projects__link" href="#">Mobile Ui</a>
                        </li>
                        <li class="projects__listItems">
                            <a class="projects__link" href="#">Illustrations</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="projects__photos">
                <div class="divOver" style="background-image: url(../images/4-1.png)">
                    <div class="name">
                        <h2>MOBILE UI</h2>
                        <p>Google Mail</p>
                    </div>
                </div>
                <div class="divOver" style="background-image: url(../images/4-2.png)">
                    <div class="name">
                        <h2>MOBILE UI</h2>
                        <p>Google Mail</p>
                    </div>
                </div>
                <div class="divOver" style="background-image: url(../images/4-3.png)">
                    <div class="name">
                        <h2>MOBILE UI</h2>
                        <p>Google Mail</p>
                    </div>
                </div>
                <div class="divOver" style="background-image: url(../images/4-4.png)">
                    <div class="name">
                        <h2>MOBILE UI</h2>
                        <p>Google Mail</p>
                    </div>
                </div>
                <div class="divOver" style="background-image: url(../images/4-5.png)">
                    <div class="name">
                        <h2>MOBILE UI</h2>
                        <p>Google Mail</p>
                    </div>
                </div>
                <div class="divOver" style="background-image: url(../images/4-6.png)">
                    <div class="name">
                        <h2>MOBILE UI</h2>
                        <p>Google Mail</p>
                    </div>
                </div>
            </div>
            <div class="projects__btnBox">
                <button class="projects__btn" id="showMore"><strong>Show me more</strong></button>
            </div>
        </div>
    </section>
    <!-- Help Page -->
    <section class="helpPage" style="background-image: url(../images/section5pic.jpg)">
        <div class="helpPage__content">
            <div class="helpPage__textBox">
                <h3 class="header helpPage__header">We're here to help.</h3>
            </div>
        </div>
    </section>
    <!-- Clients -->
    <section class="clientsPage">
        <div class="clientsPage__content">
            <div class="clientsPage__textBox">
                <h3 class="clientsPage__title">our clients</h3>
                <img class="clientsPage__lineImg" src="../images/blackLine.png" alt="line">
            </div>
            <div class="clientsPage__clientsLogos">
                <img class="clientsPage__img" src="../images/google.png" alt="google">
                <img src="../images/Samsung.png" alt="Samsung" class="clientsPage__img">
                <img src="../images/Flickr.png" alt="Flickr" class="clientsPage__img">
                <img src="../images/foursquare-logo.png" alt="foursquare" class="clientsPage__img">
                <img src="../images/pinterest_logo_red.png" alt="pinterest" class="clientsPage__img">
            </div>
        </div>
    </section>
    <!-- About Us -->
    <div class="aboutUsPage">
        <div class="aboutUsPage__content">
            <div class="aboutUsPage__textBox">
                <h3 class="aboutUsPage__title">about us</h3>
                <img src="../images/blackLine.png" alt="line" class="aboutUsPage__lineImg">
                <p class="aboutUsPage__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
            <div class="aboutUsPage__employees">
                <div class="divOver  aboutUsPage__photo" style="background-image: url(../images/john.png)">
                    <div class="info">
                        <div class="link"><img src="../images/link.png"></div>
                        <div class="name">
                            <h2>Johny</h2>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="divOver  aboutUsPage__photo" style="background-image: url(../images/cardGirl.png)">
                    <div class="info">
                        <div class="link"><img src="../images/link.png"></div>
                        <div class="name">
                            <h2>John</h2>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="divOver aboutUsPage__photo" style="background-image: url(../images/cardGirl2.png)">
                    <div class="info">
                        <div class="link"><img src="../images/link.png"></div>
                        <div class="name">
                            <h2>Joe</h2>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="aboutUsPage__applyBox">
                    <div class="aboutUsPage__applyBox-container">
                        <h3 class="aboutUsPage__card-title">we are hiring</h3>
                        <img class="aboutUsPage__lineImg" src="../images/blackLine.png" alt="line">
                        <button class="aboutUsPage__applyBtn">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="videoPage" style="background-image: url(../images/section8pic.png)">
        <img src="../images/Play_ic.png" alt="play" class="videoPage__playBtn">
    </section>
    <section class="advantagePage">
        <div class="advantagePage__content">
            <div class="advantagePage__textBox">
                <h3 class="advantagePage__title">why choose us?</h3>
                <img src="../images/blackLine.png" alt="line" class="advantagePage__lineImg">
                <p class="advantagePage__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
            <div class="advantagePage__scroll">
                <div class="scroll__item">
                    <div class="scroll__imgBox"><img src="../images/iPhone_5c.png" alt="iphone" class="scroll__img"></div>
                    <h4 class="scroll__title">App Design</h4>
                    <p class="scroll__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.</p>
                </div>
                <div class="scroll__item">
                    <div class="scroll__imgBox"><img src="../images/iPad_Air.png" alt="ipad" class="scroll__img"></div>
                    <h4 class="scroll__title">Responsive Layout</h4>
                    <p class="scroll__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.</p>
                </div>
                <div class="scroll__item">
                    <div class="scroll__imgBox"><img src="../images/Macbook_Pro.png" alt="macbook" class="scroll__img"></div>
                    <h4 class="scroll__title">Pixel Perfect Design</h4>
                    <p class="scroll__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="quotePage" style="background-image: url(../images/quote.jpg)">
        <div class="quotePage__content">
            <div class="quotePage__textBox">
                <h3 class="quotePage__header">Get a quote now.</h3>
            </div>
        </div>
    </section>
    <section class="getIntouch">
        <div class="getIntouch__content">
            <div class="getIntouch__textBox">
                <h3 class="getIntouch__title">get in touch</h3>
                <img class="getIntouch__lineImg" src="../images/blackLine.png" alt="line">
                <p class="getIntouch__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="contacts__content">
            <div class="contacts__location">
                <div class="contacts__textBox">
                    <h4 class="contacts__title">our location</h4>
                    <p class="contacts__text">174 Mimosa ST. NW <br> Casablanca, MA 20370 <br> (212) 123 456 7 <br> Samir Timezguida</p>
                    <div class="contacts__logos">
                        <img src="../images/twitterLogo.png" alt="socialnetwork logo" class="contacts__logo">
                        <img src="../images/facebookLogo.png" alt="socialnetwork logo" class="contacts__logo">
                        <img src="../images/linkedLogo.png" alt="socialnetwork logo" class="contacts__logo">
                        <img src="../images/vimLogo.png" alt="socialnetwork logo" class="contacts__logo">
                        <img src="../images/beLogo.png" alt="socialnetwork logo" class="contacts__logo">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form__content">
                    <form class="form__log">
                        <input type="text" class="form__input" placeholder="Name" required>
                        <input type="email" class="form__input" placeholder="Email" required>
                    </form>
                    <form class="form__msg">
                        <input type="text" placeholder="Message" class="form__inputMsg">
                        <button class="form__submitBtn">Send</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__content">
            <img src="../images/footerLogo.png" alt="logo" class="footer__img">
            <p class=" footer__text">2014 &copy; <span id="footerName">Samir Timezguida.</span> All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>