@mixin flex($prop1, $prop2, $prop3, $prop4) {
    display: $prop1;
    flex-direction: $prop2;
    justify-content: $prop3;
    align-items: $prop4;
}

@mixin title {
    color: $textColor;
    font-size: 30px;
    font-family: $headerFont;
    text-transform: uppercase;
}