@font-face {
  font-family: 'Amble';
  src: url(../../fonts/amble/Amble-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Amble';
  src: url(../../fonts/amble/Amble-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Big John';
  src: url(../../fonts/BigJohnSlimJoe/BIGJOHN.otf);
}

@font-face {
  font-family: 'Slim Joe';
  src: url(../../fonts/BigJohnSlimJoe/SlimJoe.otf);
}

.contacts {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__content {
  width: 100%;
  max-width: 1600px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__location {
  width: 40%;
  height: 500px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__log {
  width: 615px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__textBox {
  width: 240px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  color: #222;
  font-size: 30px;
  font-family: "Big John", serif;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 0;
}

.contacts__text {
  font-family: "Amble", serif;
  font-size: 22px;
  font-style: italic;
}

.contacts__logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  width: 60%;
  height: 500px;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Amble", serif;
}

.form__content {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form__input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #afafaf;
  font-size: 18px;
  padding: 0 0 10px 20px;
}

.form__msg {
  width: 100%;
}

.form__inputMsg {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #afafaf;
  font-size: 18px;
  padding: 0 0 10px 20px;
  margin-bottom: 40px;
}

.form__submitBtn {
  float: right;
  width: 143px;
  height: 40px;
  background: none;
  outline: none;
  border: 2px solid black;
  font-weight: 700;
  font-family: "Amble", serif;
  font-size: 24px;
  cursor: pointer;
}
/*# sourceMappingURL=contacts.css.map */