@import './variables';
@import './mixins';
.contacts {
    min-height: 500px;
    @include flex(flex, column, center, center);
}

.contacts__content {
    width: 100%;
    max-width: 1600px;
    height: 500px;
    @include flex(flex, row, space-around, center);
}

.contacts__location {
    width: 40%;
    height: 500px;
    background-color: #f2f2f2;
    @include flex(flex, column, center, center);
}

.contacts__log {
    width: 615px;
    @include flex(flex, column, center, center);
}

.contacts__textBox {
    width: 240px;
    height: 270px;
    @include flex(flex, column, center, center);
}

.contacts__title {
    @include title();
    font-size: 24px;
    margin-bottom: 0;
}

.contacts__text {
    font-family: $textFont;
    font-size: 22px;
    font-style: italic;
}

.contacts__logos {
    width: 100%;
    @include flex(flex, row, space-between, center);
}

.form {
    width: 60%;
    height: 500px;
    background-color: #e4e4e4;
    @include flex(flex, column, center, center);
    font-family: $textFont;
}

.form__content {
    height: 190px;
    @include flex(flex, column, space-between, start);
}

.form__input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #afafaf;
    font-size: 18px;
    padding: 0 0 10px 20px;
}

.form__msg {
    width: 100%;
}

.form__inputMsg {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #afafaf;
    font-size: 18px;
    padding: 0 0 10px 20px;
    margin-bottom: 40px;
}

.form__submitBtn {
    float: right;
    width: 143px;
    height: 40px;
    background: none;
    outline: none;
    border: 2px solid black;
    font-weight: 700;
    font-family: $textFont;
    font-size: 24px;
    cursor: pointer;
    &:hover {
        background-color: #000;
        opacity: .9;
        color: #fff;
    }
}