@import "./variables";
@import "./mixins";
@import "./header";
@import "./introPage";
@import "./creativity";
@import "./projects";
@import "./helpPage";
@import "./clientsPage";
@import "./aboutUsPage";
@import "./videoPage";
@import "./advantage";
@import "./quote";
@import "./getInTouch.scss";
@import "./contacts";
@import "./footer";
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    @include flex(flex, column, center, center);
}

section {
    width: 100%;
    height: 100%;
}

.content {
    width: 90%;
    height: 100%;
}

@media only screen and (max-width: 1123px) {
    .contacts__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #e4e4e4;
        .contacts__location {
            background-color: #e4e4e4;
        }
    }
    .advantagePage .advantagePage__content .advantagePage__scroll {
        display: flex;
        flex-direction: column;
    }
    .aboutUsPage .aboutUsPage__content {
        width: 100%;
    }
    .aboutUsPage .aboutUsPage__content .aboutUsPage__employees {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .aboutUsPage__photo {
            margin: 10px;
        }
    }
    .clientsPage {
        width: 100%;
        height: 100%;
        .clientsPage__content .clientsPage__clientsLogos {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 400px;
        }
    }
    .projects .projects__content .projects__photos {
        margin: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .project__img {
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .projects .projects__textBox {
        height: 100%;
    }
    .projects .projects__content {
        margin-bottom: 30px;
        .projects__textBox .projects__ul {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}